.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch input {
    display:none;
  }
  
  .Switch {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .Switch:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .Switch {
    background-color: #66bb6a;
  }
  
  input:checked + .Switch:before {
    transform: translateX(26px);
  }
  
  .Switch.round {
    border-radius: 34px;
  }
  
  .Switch.round:before {
    border-radius: 50%;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  