
  
  .tabs {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  
  .tabs .tab {
    flex-basis: 10%;
    margin: 0px 0.1em;
    padding: 1em 4em;
    cursor: pointer;
    transform: translateY(1px);
    border-radius: 5px 5px 0px 0px;
    transition: background-color 0.2s ease-in-out;
    border: 1px solid transparent;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
  }

  .tabs .tab span{
    display:block;
    padding: 1em 4em;
    width: 80%;
  }
  
  .tabs .tab:hover {
    background-color: #ececec;
  }
  
  .tabs .tab.selected {
    border-radius: 5px 5px 0px 0px;
    border-width: 1px;
    border-color: #ccc #ccc #fff #ccc;
    border-style: solid;
    color: #59b3b3;
  }
  
  .tabs .tab.selected:hover {
    background: none;
  }
  
  .tab__content {
    padding: 1em 2em;
    color: #525151;
    font-family: "Economica", sans-serif;
    font-size: 20px;
  }
  
  .tab__icon {
    padding-left: 0.5em;
  }
  
  .subtitle {
    color: #1f1f1f;
    font-family: "Kaushan Script", cursive;
  }
  