.select-search-wraper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
    justify-self: center;
    .select-search {
        display: flex;
        position: relative;
        gap: 1rem;
        h1 {
            text-align: center;
        }
        button {
            width: 15rem;
        }
    }
}


